.article {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1em 3em;
    margin-bottom: 3em;
    margin-top: auto;
    @include breakpoint('sm'){
        padding: 2em;
    }
}

.article__body {
    margin-bottom: 1em;
    @include breakpoint('ms'){
        width: 70%;
    }
    @include breakpoint('sm'){
        width: 100%;
    }
}

.article__title {
    font-size: $xxx-large;
}

.article__text {
    font-family: $raleway;
    color: $granite-gray;
    line-height: 2;
    @include breakpoint ('ms'){
        font-size: $medium;
    }
}

.headline {
    @include breakpoint('ms') {
        display: none;
    }
}